
<div class="quick-access">
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">point_of_sale</span>
    </button>
    <span class="label">Ventas</span>
  </div>

  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">inventory_2</span>
    </button>
    <span class="label">Productos</span>
  </div>

  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">inventory</span>
    </button>
    <span class="label">Inventario</span>
  </div> 
  
  <div class="button-container">
    <button class="big-button" routerLink="/order">
      <span class="material-symbols-outlined">order_play</span>
    </button>
    <span class="label">Comanda</span>
  </div>

  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">table_restaurant</span>
    </button>
    <span class="label">Mesas</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">group_add</span>
    </button>
    <span class="label">Clientes</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">upcoming</span>
    </button>
    <span class="label">Upcoming</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">upcoming</span>
    </button>
    <span class="label">Upcoming</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">upcoming</span>
    </button>
    <span class="label">Upcoming</span>
  </div>
</div>