
<div class="quick-access">
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">point_of_sale</span>
    </button>
    <span class="label">Ventas</span>
  </div>

  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">inventory_2</span>
    </button>
    <span class="label">Productos</span>
  </div>

  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">inventory</span>
    </button>
    <span class="label">Productos</span>
  </div> 
  
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">add_shopping_cart</span>
    </button>
    <span class="label">Productos</span>
  </div>

  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">add_shopping_cart</span>
    </button>
    <span class="label">Productos</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">add_shopping_cart</span>
    </button>
    <span class="label">Productos</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">add_shopping_cart</span>
    </button>
    <span class="label">Productos</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">add_shopping_cart</span>
    </button>
    <span class="label">Productos</span>
  </div>
  <div class="button-container">
    <button class="big-button">
      <span class="material-symbols-outlined">add_shopping_cart</span>
    </button>
    <span class="label">Productos</span>
  </div>
</div>