/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
}

:root {
  --primary-orange: #F05A28;
  --background-base: #fff3ef; /* Un tono suave si deseas variar */
}

.quick-access .material-symbols-outlined {
  font-size: 50px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
